<launch>
    <node name="main_node" pkg="main" type="main_wrapper.py" output="screen">
    </node>

    <node name="locomotion_node" pkg="main" type="locomotion_wrapper.py" output="screen">
    </node>

    <node name="digging_node" pkg="main" type="digging_wrapper.py" output="screen">
    </node>

    <node name="dumping_node" pkg="main" type="dumping_wrapper.py" output="screen">
    </node>
</launch>
